# Virtual environments
venv/
env/
.venv/
.anons/

# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
db.sqlite3

# Env files
.env

# Static & media
staticfiles/
media/

# OS files
.DS_Store
